## Imports

In [1]:
import pandas as pd
import numpy as np

## Exploration du dataset

In [2]:
df_original = pd.read_csv('final2.csv')

In [3]:
df_original.shape

(166378, 68)

In [4]:
df_original.head()

,Make,Make_v2,Model,Model_Det,Model_year,Online,Age,Mileage,Usure,Fuel,...,option_32,option_33,option_34,option_35,option_36,option_37,option_38,option_39,Prix_neuf,Price
0,PEUGEOT,PEUGEOT,308,308 2,2014,06/07/2018,4,94341,23585,Diesel,...,0,0,0,0,0,0,0,0,21650.0,11220.0
1,BMW,BMW,X6,X6 F16,2015,03/04/2018,3,39051,13017,Diesel,...,1,1,1,1,0,0,0,0,85675.0,57526.0
2,AUDI,AUDI,RS6,RS6 3 AVANT,2014,30/07/2018,4,75381,18845,Essence,...,0,1,1,1,1,1,1,1,NaN,80379.0
3,FORD,FORD,KA,KA,2007,09/07/2018,11,92282,8389,Essence,...,0,1,0,0,0,0,0,0,NaN,2830.0
4,FIAT,FIAT,TIPO,TIPO 2 SW,2018,19/05/2018,0,10,10,Essence,...,0,0,0,1,0,0,0,1,13490.0,12925.0

In [5]:
df = df_original

In [6]:
df.shape

(166378, 68)

In [7]:
df.head()

,Make,Make_v2,Model,Model_Det,Model_year,Online,Age,Mileage,Usure,Fuel,...,option_32,option_33,option_34,option_35,option_36,option_37,option_38,option_39,Prix_neuf,Price
0,PEUGEOT,PEUGEOT,308,308 2,2014,06/07/2018,4,94341,23585,Diesel,...,0,0,0,0,0,0,0,0,21650.0,11220.0
1,BMW,BMW,X6,X6 F16,2015,03/04/2018,3,39051,13017,Diesel,...,1,1,1,1,0,0,0,0,85675.0,57526.0
2,AUDI,AUDI,RS6,RS6 3 AVANT,2014,30/07/2018,4,75381,18845,Essence,...,0,1,1,1,1,1,1,1,NaN,80379.0
3,FORD,FORD,KA,KA,2007,09/07/2018,11,92282,8389,Essence,...,0,1,0,0,0,0,0,0,NaN,2830.0
4,FIAT,FIAT,TIPO,TIPO 2 SW,2018,19/05/2018,0,10,10,Essence,...,0,0,0,1,0,0,0,1,13490.0,12925.0

In [8]:
df.columns

Index(['Make', 'Make_v2', 'Model', 'Model_Det', 'Model_year', 'Online', 'Age',
       'Mileage', 'Usure', 'Fuel', 'Diesel', 'Essence', 'Other_fuel',
       'Gearbox', 'Mecanique', 'Automatique', 'Version', 'Génération',
       'Version_adj', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'Portes',
       'Couleur', 'Options', 'Options_nb', 'option_0', 'option_1', 'option_2',
       'option_3', 'option_4', 'option_5', 'option_6', 'option_7', 'option_8',
       'option_9', 'option_10', 'option_11', 'option_12', 'option_13',
       'option_14', 'option_15', 'option_16', 'option_17', 'option_18',
       'option_19', 'option_20', 'option_21', 'option_22', 'option_23',
       'option_24', 'option_25', 'option_26', 'option_27', 'option_28',
       'option_29', 'option_30', 'option_31', 'option_32', 'option_33',
       'option_34', 'option_35', 'option_36', 'option_37', 'option_38',
       'option_39', 'Prix_neuf', 'Price'],
      dtype='object')

## Preprocess et split

In [9]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [10]:
df['Make'] = le.fit_transform(df['Make'])

In [11]:
df['Model'] = le.fit_transform(df['Model'])

In [12]:
labels = np.array(df['Price'])

In [13]:
features = df[['Make', 'Model', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique']]

In [14]:
features.head()

,Make,Model,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique
0,59,34,2014,94341,1,0,0,1,0
1,9,716,2015,39051,1,0,0,0,1
2,5,558,2014,75381,0,1,0,0,1
3,28,397,2007,92282,0,1,0,1,0
4,26,652,2018,10,0,1,0,1,0

In [15]:
feature_list = list(features.columns)

In [16]:
features = np.array(features)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

In [19]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 9)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 9)
Testing Labels Shape: (33276,)

## Comparaison xgboost / randomforest "basique"

In [20]:
def calc_mape(pred):
    errors = abs(pred - test_labels)
    mape = 100 * (errors / test_labels)
    accuracy = 100 - np.mean(mape)
    return 'Accuracy: '+ str(round(accuracy, 2)) + '%'

def calc_mape_2(pred):
    errors = abs(pred - test_labels)
    mape = 100 * (errors / test_labels)
    accuracy = 100 - np.mean(mape)
    return round(accuracy, 2)

### Randomforest

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

In [22]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 1)

In [23]:
rf.fit(train_features, train_labels)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [24]:
predictions = rf.predict(test_features)

In [25]:
print(calc_mape(predictions))

Accuracy: 87.76%

### XGBoost

In [26]:
import xgboost

In [27]:
xgb = xgboost.XGBRegressor(n_estimators=1000,seed=1)

In [28]:
xgb.fit(train_features, train_labels)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.300000012, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=nan, monotone_constraints='()',
       n_estimators=1000, n_jobs=0, num_parallel_tree=1,
       objective='reg:squarederror', random_state=1, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=1, subsample=1,
       tree_method='exact', validate_parameters=1, verbosity=None)

In [29]:
predictions = xgb.predict(test_features)

In [30]:
print(calc_mape(predictions))

Accuracy: 88.07%

## Amelioration du model - Methode 1

### Remplacement de "Make" par "Make_v2" et "Model" par "Model_Det"

In [32]:
df['Model_Det'] = le.fit_transform(df['Model_Det'])
df['Make_v2'] = le.fit_transform(df['Make_v2'])

In [33]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique']]

In [34]:
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique
0,30,71,2014,94341,1,0,0,1,0
1,3,1612,2015,39051,1,0,0,0,1
2,2,1240,2014,75381,0,1,0,0,1
3,10,887,2007,92282,0,1,0,1,0
4,9,1492,2018,10,0,1,0,1,0

In [35]:
feature_list = list(features.columns)

In [36]:
features = np.array(features)

In [37]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 9)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 9)
Testing Labels Shape: (33276,)

In [38]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 88.73%

On observe un gain d'environ 1 points par rapport au model précedent

In [39]:
result["Model/Make"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

### Ajout de l'age et de l'usure

#### Age

In [40]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Age', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique']]

In [41]:
features.head()

,Make_v2,Model_Det,Model_year,Age,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique
0,30,71,2014,4,94341,1,0,0,1,0
1,3,1612,2015,3,39051,1,0,0,0,1
2,2,1240,2014,4,75381,0,1,0,0,1
3,10,887,2007,11,92282,0,1,0,1,0
4,9,1492,2018,0,10,0,1,0,1,0

In [42]:
feature_list = list(features.columns)

In [43]:
features = np.array(features)

In [44]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 10)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 10)
Testing Labels Shape: (33276,)

In [45]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 88.73%

L'age n'a aucun impact sur la précision

In [46]:
result["Age"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

#### Usure

In [47]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Usure', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique']]

In [48]:
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Usure,Diesel,Essence,Other_fuel,Mecanique,Automatique
0,30,71,2014,94341,23585,1,0,0,1,0
1,3,1612,2015,39051,13017,1,0,0,0,1
2,2,1240,2014,75381,18845,0,1,0,0,1
3,10,887,2007,92282,8389,0,1,0,1,0
4,9,1492,2018,10,10,0,1,0,1,0

In [49]:
feature_list = list(features.columns)

In [50]:
features = np.array(features)

In [51]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 10)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 10)
Testing Labels Shape: (33276,)

In [52]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 88.83%

L'usure fait baisser d'un point environ la précision

In [53]:
result["Usure"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

### Génération / Cylindre / Chevaux

#### Génération

In [54]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Génération']]

In [55]:
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Génération
0,30,71,2014,94341,1,0,0,1,0,1
1,3,1612,2015,39051,1,0,0,0,1,2
2,2,1240,2014,75381,0,1,0,0,1,3
3,10,887,2007,92282,0,1,0,1,0,1
4,9,1492,2018,10,0,1,0,1,0,2

In [56]:
feature_list = list(features.columns)

In [57]:
features = np.array(features)

In [58]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 10)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 10)
Testing Labels Shape: (33276,)

In [59]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 88.7%

La génération n'apporte rien à la précision

In [60]:
result["Génération"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

#### Cylindre

In [61]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre
0,30,71,2014,94341,1,0,0,1,0,1.6
1,3,1612,2015,39051,1,0,0,0,1,3.0
2,2,1240,2014,75381,0,1,0,0,1,4.0
3,10,887,2007,92282,0,1,0,1,0,1.3
4,9,1492,2018,10,0,1,0,1,0,1.4

In [62]:
feature_list = list(features.columns)
features = np.array(features)

In [63]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 10)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 10)
Testing Labels Shape: (33276,)

In [64]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 90.06%

Le cylindre apporte 1 point de précision

In [65]:
result["Cylindre"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

#### Chevaux

In [66]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,Chevaux
0,30,71,2014,94341,1,0,0,1,0,1.6,92.0
1,3,1612,2015,39051,1,0,0,0,1,3.0,258.0
2,2,1240,2014,75381,0,1,0,0,1,4.0,560.0
3,10,887,2007,92282,0,1,0,1,0,1.3,70.0
4,9,1492,2018,10,0,1,0,1,0,1.4,95.0

In [67]:
feature_list = list(features.columns)
features = np.array(features)

In [68]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 11)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 11)
Testing Labels Shape: (33276,)

In [69]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 90.71%

Les chevaux apportent 1 point de précision

In [70]:
result["Chevaux"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

### Ajout de la Puissance fiscale, des Portes et de la Couleur

#### Puissance Fiscale

In [71]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,Chevaux,Puissance_fisc
0,30,71,2014,94341,1,0,0,1,0,1.6,92.0,4
1,3,1612,2015,39051,1,0,0,0,1,3.0,258.0,16
2,2,1240,2014,75381,0,1,0,0,1,4.0,560.0,47
3,10,887,2007,92282,0,1,0,1,0,1.3,70.0,5
4,9,1492,2018,10,0,1,0,1,0,1.4,95.0,5

In [72]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 12)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 12)
Testing Labels Shape: (33276,)

In [73]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.6%

La puissance fiscale améliore la précision

In [74]:
result["Puissance_fisc"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

#### Portes

In [75]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'Portes']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,Chevaux,Puissance_fisc,Portes
0,30,71,2014,94341,1,0,0,1,0,1.6,92.0,4,5
1,3,1612,2015,39051,1,0,0,0,1,3.0,258.0,16,5
2,2,1240,2014,75381,0,1,0,0,1,4.0,560.0,47,5
3,10,887,2007,92282,0,1,0,1,0,1.3,70.0,5,3
4,9,1492,2018,10,0,1,0,1,0,1.4,95.0,5,5

In [76]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 13)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 13)
Testing Labels Shape: (33276,)

In [77]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.61%

Le nombre de porte n'impacte que très peu la précision du modèle

In [78]:
result["Portes"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

#### Couleur

In [79]:
df['Couleur'] = le.fit_transform(df['Couleur'])

In [80]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'Couleur']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,Chevaux,Puissance_fisc,Couleur
0,30,71,2014,94341,1,0,0,1,0,1.6,92.0,4,2
1,3,1612,2015,39051,1,0,0,0,1,3.0,258.0,16,10
2,2,1240,2014,75381,0,1,0,0,1,4.0,560.0,47,8
3,10,887,2007,92282,0,1,0,1,0,1.3,70.0,5,6
4,9,1492,2018,10,0,1,0,1,0,1.4,95.0,5,2

In [81]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 13)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 13)
Testing Labels Shape: (33276,)

In [82]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.59%

Le nombre de porte n'impacte que très peu la précision du modèle

In [83]:
result["Couleur"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

### Ajout des options

#### Nombre d'options

In [84]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'Options_nb']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,Chevaux,Puissance_fisc,Options_nb
0,30,71,2014,94341,1,0,0,1,0,1.6,92.0,4,54
1,3,1612,2015,39051,1,0,0,0,1,3.0,258.0,16,41
2,2,1240,2014,75381,0,1,0,0,1,4.0,560.0,47,140
3,10,887,2007,92282,0,1,0,1,0,1.3,70.0,5,8
4,9,1492,2018,10,0,1,0,1,0,1.4,95.0,5,24

In [85]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 13)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 13)
Testing Labels Shape: (33276,)

In [86]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.82%

Le nombre d'options n'impacte que très peu la précision du modèle

In [87]:
result["Options_nb"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

#### Options

In [88]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'option_0',
       'option_1', 'option_2', 'option_3', 'option_4', 'option_5', 'option_6', 'option_7', 'option_8',
       'option_9', 'option_10', 'option_11', 'option_12', 'option_13', 'option_14', 'option_15',
       'option_16', 'option_17', 'option_18', 'option_19', 'option_20', 'option_21', 'option_22', 'option_23',
       'option_24', 'option_25', 'option_26', 'option_27', 'option_28', 'option_29', 'option_30']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,...,option_21,option_22,option_23,option_24,option_25,option_26,option_27,option_28,option_29,option_30
0,30,71,2014,94341,1,0,0,1,0,1.6,...,1,1,0,1,1,1,1,1,1,0
1,3,1612,2015,39051,1,0,0,0,1,3.0,...,0,0,0,0,1,1,0,0,1,1
2,2,1240,2014,75381,0,1,0,0,1,4.0,...,1,1,0,1,1,1,1,1,1,1
3,10,887,2007,92282,0,1,0,1,0,1.3,...,0,0,0,0,0,1,0,1,0,1
4,9,1492,2018,10,0,1,0,1,0,1.4,...,0,0,0,1,1,0,0,1,0,1

In [89]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 43)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 43)
Testing Labels Shape: (33276,)

In [90]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.85%

Les options n'impacte que très peu la précision du modèle

In [91]:
result["Options"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

### Ajout du prix neuf

In [92]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'Prix_neuf']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,Chevaux,Puissance_fisc,Prix_neuf
0,30,71,2014,94341,1,0,0,1,0,1.6,92.0,4,21650.0
1,3,1612,2015,39051,1,0,0,0,1,3.0,258.0,16,85675.0
2,2,1240,2014,75381,0,1,0,0,1,4.0,560.0,47,NaN
3,10,887,2007,92282,0,1,0,1,0,1.3,70.0,5,NaN
4,9,1492,2018,10,0,1,0,1,0,1.4,95.0,5,13490.0

In [93]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 13)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 13)
Testing Labels Shape: (33276,)

In [94]:
xgb.fit(train_features, train_labels)
old_predictions = predictions
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.6%

Le prix neuf améliore légèrement la précision du modèle

In [95]:
result["Prix_neuf"] = round(calc_mape_2(old_predictions) - calc_mape_2(predictions), 2)

### Résultat des features séléctionnés

#### Les features supplémentaires que l'on garde sont :
- Make_v2
- Model_Det
- Model_year
- Mileage
- Diesel
- Essence
- Other_fuel
- Mecanique
- Automatique
- Cylindre
- Chevaux
- Puissance_fisc
- Prix_neuf

### Modele final avec la première méthode

In [96]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'Prix_neuf']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,Chevaux,Puissance_fisc,Prix_neuf
0,30,71,2014,94341,1,0,0,1,0,1.6,92.0,4,21650.0
1,3,1612,2015,39051,1,0,0,0,1,3.0,258.0,16,85675.0
2,2,1240,2014,75381,0,1,0,0,1,4.0,560.0,47,NaN
3,10,887,2007,92282,0,1,0,1,0,1.3,70.0,5,NaN
4,9,1492,2018,10,0,1,0,1,0,1.4,95.0,5,13490.0

In [97]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 13)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 13)
Testing Labels Shape: (33276,)

In [98]:
xgb.fit(train_features, train_labels)
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.6%

## Amelioration du model - Methode 2

In [99]:
from xgboost import plot_importance
from sklearn.metrics import accuracy_score

from matplotlib import pyplot
%matplotlib inline

In [100]:
labels = np.array(df['Price'])

In [101]:
features = df.drop(['Price', 'Online', 'Fuel', 'Gearbox', 'Version', 'Version_adj', 'Options'], axis=1)

In [102]:
train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 61)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 61)
Testing Labels Shape: (33276,)

In [103]:
xgb.fit(train_features, train_labels)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.300000012, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=nan, monotone_constraints='()',
       n_estimators=1000, n_jobs=0, num_parallel_tree=1,
       objective='reg:squarederror', random_state=1, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=1, subsample=1,
       tree_method='exact', validate_parameters=1, verbosity=None)

In [104]:
features_importance = xgb.get_booster().get_score(importance_type='weight')

In [105]:
features_importance = sorted(features_importance.items(), key=lambda x: x[1], reverse=True)

In [106]:
print(features_importance)

[('Mileage', 7984), ('Usure', 5282), ('Options_nb', 4760), ('Prix_neuf', 3684), ('Chevaux', 3636), ('Model_year', 2760), ('Puissance_fisc', 2732), ('Model', 2676), ('Make', 2646), ('Cylindre', 2589), ('Model_Det', 2295), ('Couleur', 1722), ('Génération', 984), ('Portes', 689), ('Mecanique', 653), ('Make_v2', 427), ('Diesel', 315), ('option_31', 306), ('option_2', 302), ('option_0', 267), ('option_30', 262), ('option_37', 262), ('option_34', 254), ('option_35', 249), ('option_33', 248), ('option_32', 248), ('option_39', 230), ('option_20', 220), ('option_12', 219), ('option_17', 218), ('option_3', 216), ('option_28', 205), ('option_9', 192), ('option_7', 191), ('option_10', 190), ('option_1', 189), ('option_14', 188), ('option_6', 183), ('option_8', 180), ('option_24', 177), ('option_4', 176), ('option_26', 176), ('option_11', 175), ('option_29', 174), ('option_36', 170), ('option_19', 170), ('option_16', 169), ('option_15', 168), ('option_18', 161), ('option_21', 155), ('option_23', 152), ('Essence', 146), ('option_13', 137), ('option_5', 134), ('option_25', 126), ('Other_fuel', 97), ('option_27', 93), ('option_38', 86), ('option_22', 64)]

On garde les features > 1000

In [107]:
features_imp = [x[0] for x in features_importance if x[1] > 500]

In [108]:
print(features_imp)

['Mileage', 'Usure', 'Options_nb', 'Prix_neuf', 'Chevaux', 'Model_year', 'Puissance_fisc', 'Model', 'Make', 'Cylindre', 'Model_Det', 'Couleur', 'Génération', 'Portes', 'Mecanique']

### Modele final avec la seconde méthode

In [109]:
features = df[features_imp].drop(['Model_Det'], axis=1)
features.head()

,Mileage,Usure,Options_nb,Prix_neuf,Chevaux,Model_year,Puissance_fisc,Model,Make,Cylindre,Couleur,Génération,Portes,Mecanique
0,94341,23585,54,21650.0,92.0,2014,4,34,59,1.6,2,1,5,1
1,39051,13017,41,85675.0,258.0,2015,16,716,9,3.0,10,2,5,0
2,75381,18845,140,NaN,560.0,2014,47,558,5,4.0,8,3,5,0
3,92282,8389,8,NaN,70.0,2007,5,397,28,1.3,6,1,3,1
4,10,10,24,13490.0,95.0,2018,5,652,26,1.4,2,2,5,1

In [110]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 14)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 14)
Testing Labels Shape: (33276,)

In [111]:
xgb.fit(train_features, train_labels)
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.69%

## Modèle final

### Affinement des paramètres

In [112]:
features = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'Prix_neuf']]
features.head()

,Make_v2,Model_Det,Model_year,Mileage,Diesel,Essence,Other_fuel,Mecanique,Automatique,Cylindre,Chevaux,Puissance_fisc,Prix_neuf
0,30,71,2014,94341,1,0,0,1,0,1.6,92.0,4,21650.0
1,3,1612,2015,39051,1,0,0,0,1,3.0,258.0,16,85675.0
2,2,1240,2014,75381,0,1,0,0,1,4.0,560.0,47,NaN
3,10,887,2007,92282,0,1,0,1,0,1.3,70.0,5,NaN
4,9,1492,2018,10,0,1,0,1,0,1.4,95.0,5,13490.0

In [113]:
feature_list = list(features.columns)
features = np.array(features)

train_features, test_features, train_labels, test_labels = train_test_split(
    features, labels, test_size = 0.20, random_state = 1)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (133102, 13)
Training Labels Shape: (133102,)
Testing Features Shape: (33276, 13)
Testing Labels Shape: (33276,)

In [114]:
xgb = xgboost.XGBRegressor(
    n_estimators=1000,
    seed=1,
    learning_rate=0.09,
    max_depth=7,
    subsample=0.9,
    colsample_bytree=0.9)

In [115]:
xgb.fit(train_features, train_labels)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.9, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.09, max_delta_step=0, max_depth=7,
       min_child_weight=1, missing=nan, monotone_constraints='()',
       n_estimators=1000, n_jobs=0, num_parallel_tree=1,
       objective='reg:squarederror', random_state=1, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=1, subsample=0.9,
       tree_method='exact', validate_parameters=1, verbosity=None)

In [116]:
predictions = xgb.predict(test_features)
print(calc_mape(predictions))

Accuracy: 91.77%

### Test du modèle

In [123]:
sample = df[['Make_v2', 'Model_Det', 'Model_year', 'Mileage', 'Diesel', 'Essence', 'Other_fuel',
       'Mecanique', 'Automatique', 'Cylindre', 'Chevaux', 'Puissance_fisc', 'Prix_neuf']].iloc[-2]
sample

Make_v2               35.0
Model_Det           1065.0
Model_year          2013.0
Mileage           111339.0
Diesel                 1.0
Essence                0.0
Other_fuel             0.0
Mecanique              0.0
Automatique            1.0
Cylindre               2.0
Chevaux              150.0
Puissance_fisc         8.0
Prix_neuf              NaN
Name: 166376, dtype: float64

In [124]:
predic = xgb.predict(sample)

In [125]:
print("Estimation du vehicule : {0} - Prix de revente du vehicule : {1}".format(round(predic[0]), df["Price"].iloc[-2]))

Estimation du vehicule : 11745.0 - Prix de revente du vehicule : 11918.0